
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <div class='span-24 last'>
        <section>
          <h5>Recent Videos (click to watch)</h5>
          <% @recent_videos.each do |video| %>
            <div class='span-2'>
              <%= link_to image_tag("#{video.preview_image_url}", :size => "180x180", :class => "img-polaroid"), user_video_path(:user_id => video.user_id, :id => video.id), :method => :get %>
            </div>
          <% end %>
        </div>
      </section>   
    </aside> 
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/comments_form' %>
    </section>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Vlickr</h1>

    <h2>
      This is the home page for the Vlickr
      <a href="http://github.com/vothane/vlickr">Github</a>
      demo app for acts_as_voodoo gem
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 